* {
	font-family: 'Lato', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #fafdf6;
}

/* Cabeçalho */

header {
	background-color: #eae151;
	padding: 1rem 2rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 10px 10px 10px rgba(255, 255, 255, 1);
}

#search-container {
	display: flex;
	align-items: center;
	gap: 1rem;
}

#search-input {
	background-color: #fafdf6;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-weight: bold;
	color: #ddd;
	width: 400px;
}

#search-input::placeholder {
	color: #a2a2a2;
}

#export-notes {
	background-color: #eae151;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fafdf6;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.4s;
	font-weight: 900;
}

#export-notes:hover {
	color: #ddd92a;
	background-color: #fff;
}

/* New note form */
#new-note-container {
	display: flex;
	width: 400px;
	margin: 1rem auto 0;
	gap: 1rem;
}

#new-note-container input,
#new-note-container button {
	padding: 10px;
	border-radius: 5px;
}

#new-note-container input {
	flex: 1;
	background-color: transparent;
	border: 1px solid #2d2a32;
	color: #fafdf6;
}

#new-note-container button {
	cursor: pointer;
	background-color: transparent;
	color: #2d2a32;
	border: 1px solid #2d2a32;
	transition: 0.4s;
}

#new-note-container button:hover {
	border: 1px solid #eae151;
}

/* Notes */
#notes-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	padding: 2rem;
	gap: 2rem;
}

.note {
	min-height: 200px;
	padding: 1rem;
	background-color: #eeefa8;
	color: #2d2a32;
	position: relative;
	box-shadow:
		0px 13px 27px -5px rgba(50, 50, 93, 0.5),
		0px 8px 16px -8px rgba(0, 0, 0, 0.7);
}

.note textarea {
	background-color: transparent;
	resize: none;
	color: #2d2a32;
	font-size: 16px;
	border: none;
	height: 100%;
	outline: none;
}

.note .bi-pin-angle {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 1.2rem;
	background-color: #eeefa8;
	cursor: pointer;
	padding: 5px;
	border-radius: 3px;
}

.note .bi-pin-angle:hover {
	color: royalblue;
}

.note .bi-pin-angle:active {
	color: royalblue;
}

.note:hover > i {
	opacity: 1;
}

.note .bi-x-lg,
.note .bi-copy {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0.9rem;
	padding: 5px;
	transition: 0.3s;
	color: #555;
	cursor: pointer;
	opacity: 0;
}

.note .bi-copy {
	top: 40px;
}

.note .bi-x-lg:hover {
	color: red;
}

.note .bi-copy:hover {
	color: green;
}

.note.fixed {
	border: 1px dotted royalblue;
}
