/* geral */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #fafdf6;
}

/* cabeçalho */
header {
	background-color: #ffd100;
	/* border-bottom: 1px solid #ccc; */
	padding: 1rem 2rem;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-around;
	box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.1);
}

#search-container {
	display: flex;
	align-items: center;
	gap: 1rem;
	font-size: bold;
}

#input-search {
	background-color: #fff;
	border-radius: 5px;
	border: none;
	padding: 10px;
	font-weight: bold;
	color: #ddd;
	width: 400px;
}

#input-search::placeholder {
	color: #afafaf;
}

#button-export-notes {
	background-color: #ffd100;
	border: 2px solid #fff;
	border-radius: 4px;
	color: #fff;
	padding: 5px 15px;
	cursor: pointer;
	transition: 0.4s;
	font-weight: bold;
}

#button-export-notes:hover {
	background-color: #fff;
	color: #333;
}

/* new note form */
#new-note-container {
	display: flex;
	width: 400px;
	margin: 1rem auto 0;
	gap: 1rem;
}

#new-note-container input,
#new-note-container button {
	padding: 10px;
	border-radius: 5px;
}

#new-note-container input {
	flex: 1;
	background-color: transparent;
	border: 1px solid #d6d6d6;
	color: #3c3c3f;
}

#new-note-container button {
	cursor: pointer;
	background-color: #fafdf6;
	color: #000;
	border: 1px solid #d6d6d6;
	transition: 0.4s;
	font-weight: bolds;
}

#new-note-container button:hover {
	color: #fff;
	background-color: #ffd100;
	border-color: #ffd100;
}

/* notes */
#notes-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, 250px);
	padding: 2rem;
	gap: 2rem;
}

.note {
	min-height: 200px;
	padding: 1rem;
	border: 1px solid #ccc;
	background-color: #eeefa8;
	color: #2d2a32;
	position: relative;
	box-shadow:
		0px 13px 27px -5px rgba(50, 50, 93, 0.25),
		0px 8px 16px -8px rgba(0, 0, 0, 0.3);
}

.note textarea {
	background-color: transparent;
	resize: none;
	color: #2d2a32;
	border: none;
	height: 100%;
	outline: none;
}

.note .bi-pin-angle {
	position: absolute;
	left: 10px;
	bottom: 10px;
	font-size: 1.2rem;
	background-color: #eeefa8;
	cursor: pointer;
	padding: 5px 10px;
	border-radius: 3px;
	transition: 0.4s;
}

.note .bi-pin-angle:hover {
	/* background-color: #fafdf6; */
	color: cornflowerblue;
}

.note:hover > i {
	opacity: 1;
}

.note .bi-x-lg,
.note .bi-copy {
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 0.9rem;
	padding: 5px;
	transition: 0.2s;
	color: #2d2a32;
	cursor: pointer;
	opacity: 0;
	border-radius: 3px;
}

.note .bi-x-lg:hover,
.note .bi-copy:hover {
	color: cornflowerblue;
}

.note .bi-x-lg:active {
	color: red;
}

.note .bi-copy:active {
	color: #3f7d20;
}

.note .bi-copy {
	top: 40px;
}

.note.fixed {
	background-color: #3c3c3f;
}
